<div>
  <%= form_with(model: [ target, comment ]) do |f| %>
    <div class="input-field">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'materialize-textarea' %>
    </div>

    <div class="right-align">
      <%= button_tag type: 'submit', class: 'btn-floating' do %>
        <i class="material-icons">done</i>
      <% end %>
    </div>
  <% end %>
</div>
