<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/comments/show' %>
<% end %>

<div class="main-content">
  <%= image_tag comment.commenter.avatar.url, class: 'circle responsive-img nav-avatar' %>

  <div class="body">
    <%= comment.body %>
  </div>
</div>

