<%= form_tag(group_presentations_path(current_group), method: 'get') do %>
  <div class="row">
    <div class="input-field col s12 m4 offset-m4">
      <%= select_tag 'month', options_for_select(months, @month) %>
    </div>
    <div class="input-field col s12 m4 offset-m4">
      <% if years.count > 1 %>
        <%= select_tag 'year', options_for_select(years, @year) %>
      <% end %>
    </div>
    <div class="col s12 m6 offset-m3 center-align">
      <%= button_tag class: 'btn' do %>
        <i class="material-icons">search</i>
      <% end %>
    </div>
  </div>
<% end %>

