<% content_for :stylesheet do %>
<%= stylesheet_link_tag 'pages/presentations/play' %>
<% end %>

<div class="menu right-align">
  <button type="button" class="btn-flat-bordered hide-on-large-only horizontal-margin" data-enable-nosleep>
    <i class="material-icons left">lightbulb_outline</i>
    <%= t('presentations.enableWakeLock') %>
  </button>

  <%= link_to group_presentation_path(current_group, @presentation), { class: 'btn-floating', 'data-disable-nosleep' => nil } do %>
    <i class="material-icons">close</i>
  <% end %>
</div>

<div id="play_view" class="row">
  <% @presentation.presentation_songs.each do |ps| %>
    <presentation-song-card :presentation-song="<%= render 'components/presentation_song_card.json.jbuilder', presentation_song: ps %>"></presentation-song-card>
  <% end %>
</div>
