<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/join_requests/index' %>
<% end %>

<div class="row">
  <div class="col s12 m6 offset-m3">
    <% @join_requests.each do |join_request| %>
      <div class="card center-align">
        <div class="card-content">
          <p><%= t('notifications.join_request_received', user_name: join_request.user.full_name) %></p>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s6">
              <%= button_to t('join_requests.reject'), reject_join_request_path(join_request.id), method: "put", class: 'btn btn-flat red-text' %>
            </div>
            <div class="col s6">
              <%= button_to t('join_requests.accept'), accept_join_request_path(join_request.id), method: "put", class: 'btn btn-flat cyan-text' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
