<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/groups/show' %>
<% end %>

<h1 class="center-align"><%= @group.name %></h1>

<div class="row">
  <% @group.members.each do |member| %>
    <div class="col s12 m3">
      <user-card :user="<%= member.user.to_json %>"></user-card>
    </div>
  <% end %>
</div>

<candidates :group-id="<%= @group.id %>"></candidates>
