<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'pages/groups/show' %>
<% end %>

<div class="center-align">
  <div>
    <h1 class="teste"><%= @group.name %></h1>
  </div>

  <%= image_tag @group.image.url, class: 'circle responsive-img' %>
</div>

<div>
  <members :group="<%= render template: 'groups/show.json.jbuilder', locals: {group: @group} %>"></members>
</div>
