<template>
  <div class="member collection-item">
    <avatar :url="member.avatar_url" class="avatar"></avatar>
    <div class="member-info">
      <span class="member-name">{{ fullName(member) }}</span>
    </div>
  </div>
</template>

<script lang="coffee">
import Avatar from '../../avatar.vue'

export default
  props:
    member:
      type: Object
      required: true

  methods:
    fullName: (member) ->
      "#{member.first_name} #{member.last_name}"
</script>

<style scoped lang="sass">
@import '../../../../assets/stylesheets/variables/mixins';

.member
  display: grid
  grid-template-rows: auto
  grid-template-columns: auto 1fr auto
  align-items: center

.avatar
  width: 30px
  height: 30px

.member-info
  margin-left: 10px
</style>
