@import '../helpers/_vars';

nav {
  ul a { color: $color; }
  a { color: $color; }
}

#nav-mobile, #nav-mobile li, #nav-mobile li a {
  height: 100%;
}

.logo {
  position: relative;
  top: 7%;
  left: 30px;

  img {
    width: 64px;
  }
}

.avatar {

  img {
    height: 50px;
    width: 50px;
    margin-top: 7px;
  }

  @media (max-width: 425px) {
    img {
      height: 40px;
      width: 40px;
      margin-top: 9px;
    }
  }

}
