// These variables are NOT normally used elsewhere. Just override materialize variables.

// button
$button-font-size: 0.8rem !default;

// collections
$collection-hover-bg-color: $primary-color-dark;
$collection-link-color: $color;

// dropdown
$dropdown-color: $color;
$dropdown-hover-bg-color: $primary-color-dark;

// side-nav
$sidenav-font-color: $color;

// tab
$tabs-underline-color: $secondary-color !default;
$tabs-text-color: $color !default;
$tabs-bg-color: rgba(0, 0, 0, 0) !default;

$navbar-font-color: $color !default;
