// These variables are NOT normally used elsewhere. Just override materialize variables.

// button
$button-font-size: 0.8rem;
$button-padding: 0 1.5rem;
$button-raised-background-hover: none;
$button-floating-background-hover: none;

// collections
$collection-hover-bg-color: $primary-color-dark;
$collection-link-color: $color;

// form
$input-margin-bottom: 5px;
$input-margin: 0 0 $input-margin-bottom 0;
$input-field-margin-top: 2.5rem;

// dropdown
$dropdown-color: $color;
$dropdown-hover-bg-color: $primary-color-dark;

// side-nav
$sidenav-font-color: $color;

// tab
$tabs-underline-color: $secondary-color;
$tabs-text-color: $color;
$tabs-bg-color: rgba(0, 0, 0, 0);
$navbar-font-color: $color;
