$color: #555;
$light-text-color: lighten($color, 20%);

$primary-color: #f7f7f7 !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 5%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 3%);
}
$secondary-color: #2CC990;
$error-color: #C82647;
$link-color: $color;
$border-color: lighten($color, 50%);
$menu-item-hover-color: $secondary-color;

$primary-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$danger-gradient: linear-gradient(135deg, #f5576c 0%, #d33257 100%);
$shadow: 0 2px 7px #ddd;
