@import '../../modules/_colors';

.main-content {
  display: inline-flex;
  align-items: center;
}

img { margin-right: 20px; }

.body {
  position: relative;
  padding: 15px;
  border: 1px solid $border-color;
  border-radius: 3px;
  background-color: $primary-color-light;

  &:before {
    content: '';
    position: absolute;
    top: 18px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-color: $border-color;
    border-width: 0 0 1px 1px;
    border-style: solid;
    background-color: $primary-color-light;
    transform: rotate(45deg);
  }
}


