<template>
  <div>
    <p>
      <%= I18n.t('activerecord.attributes.group.members') %>
    </p>

    <div class="valign-wrapper">
      <avatar v-for="member in members" :key="member.id" :url="member.avatar_url" class="avatar" :tooltip="member.first_name"></avatar>
      <button class="btn-floating" @click="showUsers = !showUsers" :class="{'close-button': showUsers}"><i class="material-icons">add</i></button>
    </div>

    <chips :users="new_members" v-on:removeMember="removeMember" v-on:save="save"></chips>

    <transition name="expand">
      <div class="candidates_container" v-if="showUsers">
        <candidates ref="candidates" :groupid="group.id" v-on:userSelected="addMember"></candidates>
      </div>
    </transition>
  </div>
</template>

<script lang="coffee">
import Vue from 'vue';
import Candidates from './members/candidates.vue';
import Chips from './members/chips.vue';

export default
  props:
    group:
      type: Object
      required: true

  data: ->
    showUsers: false
    new_members: []
    members: @group.members

  components:
    'candidates': Candidates
    'chips': Chips

  methods:
    addMember: (user) ->
      if (!@new_members.includes(user)) then @new_members.push user

    removeMember: (index) ->
      @new_members.splice(index, 1)

    save: ->
      data = @new_members.map (user) -> { user_id: user.id }
      $.ajax
        url: "/groups/#{@group.id}/members"
        type: 'POST'
        data: JSON.stringify(members: data)
        dataType: 'json'
        contentType: 'application/json'
      .done (data) =>
        @new_members = []
        @members = data
        @$refs.candidates.listUsers()

</script>

<style scoped lang="sass?indentedSyntax">
@import '../../../assets/stylesheets/modules/colors';
.avatar
  margin-right: 10px

.close-button
  transform: rotate(45deg)
  transition-duration: .2s

.candidates_container
  max-height: 500px
  margin-top: 20px
  overflow: hidden

.expand-enter-active, .expand-leave-active
  transition: max-height .4s

.expand-enter, .expand-leave-to
  max-height: 0

</style>
