@import '../modules/_colors';

#browser-nav, #browser-nav li, #browser-nav li a {
  height: 100%;
}

.side-nav {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;

    .divider {
      margin: 0 0 16px 0;
      width: 20%;
    }
  }

  li a {
    text-transform: uppercase;
    font-family: 'Unica One', cursive;
  }
}

.logo {
  position: relative;
  top: 7%;
  left: 30px;

  img {
    width: 64px;
  }
}

.nav-avatar {
  margin-top: 7px;
}
