@import '../modules/_colors';

#nav-mobile, #nav-mobile li, #nav-mobile li a {
  height: 100%;
}

.logo {
  position: relative;
  top: 7%;
  left: 30px;

  img {
    width: 64px;
  }
}

.nav-avatar {
  margin-top: 7px;
}
