.card {
  padding: 10px 20px;
  width: 100%;
  margin: 10px 0;
  background-color: $bg-highlighted;
  border: 1px solid $border-color;
  border-radius: 10px;
  box-shadow: $shadow;

  @include on-small {
    padding: 15px !important;
  }
}
