@import './_mobile_menu';
@import './_browser_menu';

nav {
  background: $primary-color-light;
  box-shadow: none;
  border-bottom: 1px solid $border-color;

  .browser-logo {
    margin: 0 20px;
    img { width: 64px; }
  }

  ul a {
    text-transform: uppercase;
    font-family: 'Unica One', cursive;
    transition: all 200ms;
    font-size: 1rem;
    letter-spacing: 1px;

    &:not(.btn-floating):hover {
      background: none !important;
      &, i { color: $menu-item-hover-color; }
    }
  }
}
