#mobile-menu {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;

    .divider {
      margin: 0 0 16px 0;
      width: 20%;
    }
  }

  .mobile-logo {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    img { width: 64px; }
  }
}
