.paginator-container {
  display: flex;
  justify-content: center;
}

.paginator {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 50px;
  background: #fff;
}

.page-item {
  padding: 0 15px;
  outline: 0;

  &.active {
    color: $secondary-color;
  }
}

.prev-next-item {
  font-family: 'Material Icons';
  font-size: 1.2em;
  padding: 0 15px;
  outline: 0;
}
