@import "../variables/_mixins";

.error {
  color: $error-color;
  margin-left: 10px;
}

.vertical-separator {
  width: 1px;
  background: $border-color;
}

.light-text {
  color: lighten($color, 20%);
}

.vertical-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.horizontal-margin {
  margin-right: 20px;
  margin-left: 20px;
}

.song-index {
  margin-right: 15px;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.right-align-on-small {
  @include on-small { text-align: right; }
}
