@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Unica+One|Roboto:500');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css";

html {
  font-family: 'Roboto Slab', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
}
