<ul id="browser-nav" class="right hide-on-med-and-down">

  <!-- Song -->
  <li><%= link_to t('songs.index'), group_songs_path(current_user.last_group) %></li>

  <!-- Tags -->
  <li><%= link_to t('tags.index'), group_tags_path(current_group) %></li>

  <!-- Groups -->
  <li><%= link_to t('groups.index'), groups_path %></li>

  <!-- Account menu button -->
  <li>
    <a class="dropdown-button" href="#!" data-activates="account_menu">
      <%= image_tag current_user.avatar.standard.url, class: 'circle responsive-img nav-avatar' %>
      <i class="material-icons right">arrow_drop_down</i>
    </a>
  </li>

</ul>

