<% if user_signed_in? %>
  <header>
    <nav>
      <div class="nav-wrapper">
        <!-- Group name -->
        <% if current_group %>
          <span class="group-name hide-on-large-only"><strong><%= current_group.name %></strong></span>
        <% end %>

        <!-- Mobile menu -->
        <%= render 'layouts/mobile_menu' %>

        <!-- Menu -->
        <%= render 'layouts/browser_menu' %>
      </div>
    </nav>
  </header>
<% end %>
