<% if user_signed_in? %>
  <header>
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to 'My profile', edit_user_registration_path(current_user) %> </li>
      <li class="divider"></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <%= link_to 'Home', root_path %>
        <ul id="nav-mobile" class="right">
          <li>
            <a class="dropdown-button avatar" href="#!" data-activates="dropdown1">
              <%= image_tag current_user.avatar.standard.url, class: 'circle responsive-img' %>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<% end %>
