<% if user_signed_in? %>
  <header>
    <nav>
      <div class="nav-wrapper">
        <!-- Mobile menu -->
        <%= render 'layouts/mobile_menu' %>

        <!-- Menu -->
        <%= render 'layouts/browser_menu' %>
      </div>
    </nav>
  </header>
<% end %>
