@import "../../variables/colors";

#legend {
  display: flex;
  flex-wrap: wrap;

  .tag-meaning {
    margin-right: 25px;
    margin-bottom: 10px;
  }
}

#search_input_container { margin-top: 0.5em; }

.songs-search-form {
  margin: 2em 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}
