@import "../../modules/_colors";

#title {
  border-bottom: 1px solid $border-color;
}

#times_played {
  margin: 2rem 0;
  span { font-size: 2rem; }
}

#presentations { margin-bottom: 5rem; }

#last_presentation, #next_presentation {
  .link-title { 
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  p { margin: 5px 0; }
  &:hover {
    .link-title { color: $secondary-color; }
  }
}

#last_presentation .link-title i {
  margin-right: 10px;
}

#next_presentation {
  .link-title {
    justify-content: flex-end;
    i { margin-left: 10px; }
  }
}
