@import "../../variables/colors";
@import "../../variables/mixins";

#song {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  grid-row-gap: 5rem;
  grid-column-gap: 2rem;
  grid-template-areas:
    "general presentations"
    "comments comments";

    @include on-small {
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
      grid-template-areas:
        "general"
        "presentations"
        "comments";
    }
}

#general {
  grid-area: general;

  #times_played {
    color: lighten($color, 15%);
    font-size: 1.1rem;
    margin-left: 10px;
  }

  #author {
    color: lighten($color, 15%);
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 2px
  }

  #tags {
    margin-top: 3rem;

    div {
      display: flex;

      &:not(:last-child) { margin-bottom: 15px; }

      .tag-name {
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 2px;
        margin-left: 10px;
      }
    }
  }
}

#presentations {
  grid-area: presentations;

  .presentation-info {
    display: grid;
    grid-template-columns: 1fr auto;

    span { align-self: center; }
  }
}

#comments { grid-area: comments; }
