@import "../../modules/_colors";

#title {
  margin: 3rem 0;
}

#author {
  color: lighten($color, 15%);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px
}

#times_played {
  display: inline-flex;
  align-items: center;
  border: 1px solid $border-color;
  border-radius: 25px;
  i {
    padding: 5px;
    border: 1px solid $border-color;
    border-left: none;
    border-radius: 25px;
  }
  span {
    margin: 0 20px 0 10px;
  }
}

#presentations { margin-bottom: 5rem; }

.card .card-title {
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: bold;
}
